rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Users can read their own profile, and any logged-in user can create one for themself
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Logged-in users can read all posts, but only create posts for themself
    // and only update/delete their own posts
    match /posts/{postId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null;
      allow update, delete: if request.auth.uid == resource.data.authorId;
    }

    // Logged-in users can check if a gift code exists and update it to mark it as used.
    match /giftCodes/{code} {
      allow read, update: if request.auth != null;
    }
  }
}
