@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 60% 98%;
    --foreground: 220 10% 20%;
    
    --card: 0 0% 100%;
    --card-foreground: 220 10% 20%;
    
    --popover: 0 0% 100%;
    --popover-foreground: 220 10% 20%;
    
    --primary: 220 85% 60%;
    --primary-foreground: 0 0% 100%;
    
    --secondary: 210 40% 92%;
    --secondary-foreground: 220 10% 20%;

    --muted: 210 40% 95%;
    --muted-foreground: 210 10% 45%;
    
    --accent: 45 100% 50%;
    --accent-foreground: 220 10% 20%;
    
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 210 40% 90%;
    --input: 210 40% 90%;
    --ring: 220 85% 60%;
    
    --chart-1: 179 71% 44%;
    --chart-2: 340 77% 64%;
    --chart-3: 197 57% 54%;
    --chart-4: 43 84% 66%;
    --chart-5: 27 97% 67%;

    --radius: 1rem;
  }
 
  .dark {
    --background: 220 15% 10%;
    --foreground: 210 60% 98%;

    --card: 220 15% 12%;
    --card-foreground: 210 60% 98%;

    --popover: 220 15% 10%;
    --popover-foreground: 210 60% 98%;

    --primary: 220 85% 60%;
    --primary-foreground: 0 0% 100%;

    --secondary: 220 15% 24%;
    --secondary-foreground: 210 60% 98%;
    
    --muted: 220 15% 15%;
    --muted-foreground: 210 40% 65%;

    --accent: 45 100% 50%;
    --accent-foreground: 220 10% 20%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 15% 20%;
    --input: 220 15% 20%;
    --ring: 220 85% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .scrollable-content::-webkit-scrollbar {
      width: 8px;
  }
  .scrollable-content::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 10px;
  }
  .scrollable-content::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 10px;
  }
  .scrollable-content::-webkit-scrollbar-thumb:hover {
      background: #555;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
